*{
    margin: 0px;
    padding: 0px;
}

header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}
footer{
    min-height: 10vh;
}
.nav-link:hover{
    scale: 1.2;
    
}

li:hover{
    color: blanchedalmond;
}
body {
    font-family: 'Poppins', sans-serif;    
}
/* Oculta la flecha y desactiva el botón en pantallas grandes */
@media (min-width: 992px) { 
    .accordion-button::after {
      display: none; 
    }
    .accordion-button {
      pointer-events: none; 
      
    }
  }
  
  /* Muestra la flecha y habilita el botón en pantallas pequeñas */
  @media (max-width: 991px) { 
    .accordion-button::after {
      display: inline-block; 
    }
    .accordion-button {
      pointer-events: auto; 
      opacity: 1;
    }
  }
