* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prueba para poder mantener el footer siempre en la parte de abajo */
body{
    height: 100%;
}

/* este es el fondo se le puede colocar la imagen*/
.bodyLogin {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background-color: rgba(8, 8, 8, 0.2);
    transform: 0.5s;
}


/* contiene toda la estructura */
.containerLogin {
    position: absolute;
    width: 800px;
    height: 500px;
    margin: 20px;
    background: rgba(128, 128, 236, 0.288);
}

/* este contenedor funciona como estructura 
de los titulos y botones de ingreso y registro */
.zonagris {
    position: relative;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    background: rgba(146, 143, 143, 0.418);
    text-align: center;
}

/* se le da direccion y posicionamiento a titulos 
y botones */
.zonagris .ingreso,
.zonagris .registro {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* se le da propiedad de estar sobrepuesto a todo
el tamaño del container este seccion correra de un
lado a otro suave */
.contieneFormularios {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(248, 247, 245);
    z-index: 1000;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
    overflow: hidden;/* tapa el texto fuera del contenedor */
}

/* se le da el efecto de deslizarse cuando se oprime
el boton de registro o ingreso */
.contieneFormularios.active {
    left: 50%;
}

/* se le da el cambio de color al dar en los botones
de ingreso o registro */
.bodyLogin.active {
    background: rgba(137, 43, 226, 0.432);
}

/* se le otorga al formulario ingreso una posicion a la izq
con sus elementos centrados y transiciones suaves */
.contieneFormularios .formularioIngreso{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    transition-delay: 0.25s;
    align-self: center;
}

/* posicion de los titulos e input y boton */
.contieneFormularios .formularioIngreso form,
.contieneFormularios .formularioRegistro form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* tamaño de espaciado entre elementos */
}

/* cuando se realize click el formulario de ingreso
sale hacia la izq */
.contieneFormularios.active .formularioIngreso {
    left: -100%;
    transition-delay: 0s;
}

/* se le otorga al formulario registro una posicion a la der
con sus elementos centrados y transiciones suaves */
.contieneFormularios .formularioRegistro{
    position: absolute;
    left: 100%;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    transition-delay: 0s;
    align-self: center;
}

/* cuando se realize click el formulario de registro
sale hacia la der */
.contieneFormularios.active .formularioRegistro {
    left: 0;
    transition-delay: 0.25s;
}

/* cuando la pantalla es pequeña  */
@media (max-width: 991px){

    /* se le asigna una tamaño al contenedor */
    .containerLogin {
        max-width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* se alienan los contenedore externos */
    .containerLogin .zonagris {
        top: 0;
        height: 100%;
    }

    /* se asigna tamaño a los formularios */
    .contieneFormularios{
        width: 100%;
        height: 400px;
        top: 0;
    }

    /* los  botones de ingreso y registro se
    posicionan en forma abosluta
    y se les asigna un espacio*/
    .zonagris .registro,
    .zonagris .ingreso{
        position: absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
    }

   /* la posicion de la seccion ingreso sera
   ajustada arriba no a laizq */
    .ingreso{
        position: absolute;
        top: 0;
    }

    /* se desplaza de arriba a abajo 120px */
    .contieneFormularios.active {
        left: 0;
        top: 120px;
    }

}

.modal1{
    display: none; /* Desaparece el contenedor */
    position: fixed; /*Mantiene la pantalla fija asi se haga scroll  */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
}

.modal1-contenedor{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    max-width: 400px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}



/* Estilos para la pantalla después de realizar un registro */

/* Clase para el contenedor de toda la ilustración del perfil  */
.usuarioRegistrado{
    height: auto;
}

.tituloPerfil {
    text-align: center;
}

.tituloPerfil h1{
    margin-top: 20px;
    color: #70349E;
    font-size: 45px;
}

/* Estos son los tres contenedores principales del perfil */
.datosPerfil, .suscripcionYPLatos, .botonesPerfil{
    margin: auto;
    margin-bottom: 30px; 
    padding: 10px;
    max-width: 800px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
}

.datosPerfil{
    grid-template-columns: 1fr 3fr;
}

.suscripcionYPLatos, .botonesPerfil{
    grid-template-columns: 1fr 1fr;
}

/* Estilos para los contenidos de los datos del perfil */
.datosPerfil label{
    padding-left: 20px;
}

.datosPerfil input{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.datosPerfil input::placeholder{
    color: black;
}

/* Estilos para los botones  */
.botonesPerfil button {
    margin: auto;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: white;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

.botonesPerfil button:hover{
    background-color: rgba(105, 91, 199, 0.534);
}

/* Estilos para la sección de imágenes preliminares de platos y suscripciones */
.suscripciones, .platos{
    display: grid;
    grid-template-columns: 1fr;
}

.suscripciones h5, .platos h5{
    color: #70349E;
    grid-column: 1/3;
    text-align: center;
}

.suscripciones .planes, .platos .platosBasicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.suscripcionYPLatos img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

/* Clase para poder ubicar la imagen del costado izquierdo en posición junto a la imagen derecha */
.imgIzquierda{
    margin-left: 40%;
}


@media (width < 900px){
    .usuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, .botonesPerfil{
        max-width: 500px;
    }
    .imgIzquierda{
        margin-left: 10%;
    }
}

@media (width < 600px){
    .usuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, .botonesPerfil{
        max-width: auto;
        margin: 4%;
        padding-bottom: 4%;
    }
    .datosPerfil, .suscripcionYPLatos{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .datosPerfil{
        gap: 5px;
    }

    .datosPerfil label{
        padding-top: 10px;
    }
    .datosPerfil input{
        margin: 0px 20px;
    }
    .suscripcionYPLatos{
        gap: 20px;
    }
    .imgIzquierda{
        margin-left: 50%;
    }
    .imgDerecha{
        margin-left: 7%;
    }

}