.viaje {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    bottom: 0px;
    z-index: -1;
}

.viajeCity {
    display: flex;
    flex-direction: row;
    animation: RightToLeft 20s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-75%);
    }
}


.contieneViaje #city {
    width: 100%;
    height: 300px;
    opacity: 20%;
}


.contieneViaje #casa {
    position: absolute;
    width: 23%;
    bottom: 0px;
    left: -10px;
    animation: adiosCasita 10s ease-in infinite;
}

@keyframes adiosCasita {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-90%);
        /* Rebote hacia atrás */
    }

    70% {
        transform: translateX(-80%);
        /* Rebote más pequeño */
    }

    80% {
        transform: translateX(-75%);
        /* Otro pequeño rebote */
    }

    100% {
        transform: translateX(0);
        /* Regreso a la posición inicial */
        opacity: 1;
    }
}

.contieneViaje #moto {
    position: absolute;
    bottom: -20px;
    width: 150px;
    /* transform: translateY(0%); */
    animation: moverDerecha 10s ease-in-out infinite;
}

@keyframes moverDerecha {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}
