main {
    /* height: 100vh; */
    padding: 3% 12%;
    background-color: #FFFEF4;
    background-image: url('../img/FONDOCONTACTANOS.jpg');
    background-size: cover;
    /* Cubre todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    min-height: 80vh;
}


/* icono carrito del navbar */
#carrito {
    -webkit-text-stroke: 1px;
}

/* Para CEL (800px) */
@media (max-width: 450px) {
    main {
        background-image: url('../img/FONDOCELULAR.jpg');
        /* Agregar la extensión correcta, como .jpg */
    }
}

/* Asignación de poppins regular 400 a párrafos */
* {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
h5 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1, h2, h3{
    font-weight: 900;
}

button {
    cursor: pointer;
}

.titulo h1,
.tituloCuadroCompras h2,
.carritoVacio {
    color: #70349E;
    text-align: center;
}

.titulo h1 {
    font-size: 45px;
}

.carritoVacio {
    margin: auto;
    padding-top: 30px;
    /* display: none; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 520px;
    height: 100%;

}

.tituloCarritoVacio {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.tituloCarritoVacio h1 {
    display: flex;
    align-items: end;
}

.carritoVacio h4 {
    line-height: 38px;
}

.carritoVacio a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    margin: 20px auto auto;
    padding: 5px 30px;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.carritoVacio a:hover {
    color: #70349E;
    background-color: white;
}

hr {
    line-height: 0px;
}

.carrito {
    margin: auto;
    max-width: 1000px;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Contenedor de todos los productos que se van agregando */
/* Se le da un padding para separarlo del titulo de compras */

.productosAgregados {
    padding: 1px;
}

.productoCarrito {
    margin: auto;
    max-width: 450px;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: grid;
    /* margin-bottom: 20px; */
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    position: relative;
    /* Es necesario para poder acomodar el botón de eliminar de forma flotante */
}


.productoCarrito img {
    border-radius: 20px;
    margin: 20px 0;
    width: 150px;
    height: 150px;
}

.productoCarritoInfo {
    padding-top: 40px;
    text-align: center;
}

.productoCarritoInfo p {
    font-size: 18px;
}


/* Ya que en la parte de cantidad, necesitamos tres objetos, es necesario crear un div interno el cual permite centrarlos */
.productoCantidad,
.cantidad {
    display: grid;
    place-items: center;
}

.productoCantidad {
    margin-bottom: 20px;
}

/* Div interno de productoCantidad */
.cantidad {
    grid-template-columns: 1fr 2fr 1fr;
}

/* Estilos para la caja que muestra el numero de productos agregados */
.cantidad input {
    width: 40px;
    height: 30px;
    margin: auto;
    border: 0px solid black;
    text-align: center;
    background-color: #FFFEF4;
    font-size: 20px;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Estilos para los iconos dentro de cantidad */
.cantidad i {
    font-weight: bold;
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    font-size: 25px;
    /* border: 1px solid black; */
    color: rgba(105, 91, 199);
    cursor: pointer;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.cantidad i:hover {
    color: rgb(29, 26, 198);
    box-shadow: 3px 3px rgba(0, 0, 0, 0);
}


/* EStilos para el icono botón de eliminar */
.botonEliminar {
    position: absolute;
    /* Elimina su posición normal  */
    top: 0px;
    /* Top y right determinan su ubicación en el primer contenedor que posea posición relativa */
    right: 5px;
    height: 30px;
    width: 24px;
    font-size: 23px;
    color: #8080806b;
    cursor: pointer;
}

.botonEliminar:hover {
    color: rgb(174, 59, 59);
}

.verInformacion{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

.infoPantallaPequena{
    display: none;
    text-align: center;
}

/* Estilos para el resumen de compra */

.vistaPreviaYResumenCompra{
    position: relative;

}

.resumenCompra {
    position: sticky;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px auto;
    align-items: center;
    max-width: 340px;
    background-color: #FFFEF4;
}

.resumenCompra h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.resumenCompra .table {
    width: 90%;
    margin-bottom: 20px;
    align-items: center;
}

.resumenCompra .totales p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#botonPagar {
    display: block;
    width: 100%;
    background-color: #695BC7;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    border: 1px solid #695BC7;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7);
}

#botonPagar:hover {
    background-color: white;
    color: #695BC7;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

}

@media(width < 860px){
    .carrito {
        grid-template-columns: 1fr;
    }
}

/*  */
@media(width < 650px) {
    .carritoVacio {
        width: auto;
    }

    .tituloCarritoVacio {
        grid-template-columns: 1fr;
    }

    .tituloCarritoVacio img {
        grid-row-start: 1;
        margin: auto;
        border-radius: 20px;
    }

}

@media(width < 450px){
    .infoPantallaPequena{
        display: block;
    }
    .infoPantallaGrande{
        display: none;
    }
}
