.viaje {
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    z-index: -1;
}

.viajeCity {
    display: flex;
    align-items: center;
    justify-content: left;
    animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
    to {
        transform: translateX(-25%);
    }
}

.contieneViaje .city {
    height: 300px;
    opacity: 30%;
}

.contieneViaje #casa {
    position: absolute;
    width: 300px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    animation: adiosCasita 10s ease-out infinite;
}

@keyframes adiosCasita {
    30%{
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media(width < 900px){
    .contieneViaje #casa {
        display: none;
    }
}

.contieneViaje #moto {
    position: absolute;
    bottom: 0px;
    left: -150px;
    width: 150px;
    /* transform: translateY(0%); */
    animation: moverDerecha 10s ease-in infinite;
}

@keyframes moverDerecha {
    100% {
        left: 100%;
    }
}
