/* Elimina márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
}

header {
  min-height: 10vh;
}

main {
  min-height: 80vh;
}

footer {
  min-height: 10vh;
}

/* Aumenta el tamaño del elemento al pasar el mouse */
.nav-link:hover {
  transform: scale(1.2);
  transform: translateX(-5px);
}

#icon,
#icon:visited {
  color: black;
}

li:hover,
#icon:hover {
  color: blanchedalmond;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: #FFFEF4;
}

h5 {
  font-weight: 300;
}



.background-container {
  background-image: url('../img/FONDO.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ajusta el espacio interno si es necesario */
  margin: 7vh 0;
  /* Elimina el margen superior e inferior */
}

.img-fluid {
  padding: 0;
  /* Elimina el padding */
  object-fit: cover;
  /* Ajusta el contenido de la imagen para que cubra el área */
  width: 800px;
  height: auto;
}

/* Margen de la tarjeta de descripción */
.card-body.text-center {
  margin-top: 40px;
}

.card-text {
  text-align: justify;
  /* Justifica el texto */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Configura border, alineado y redondez de la tarjeta */
.card {
  margin: 0 0px;
  text-align: justify;
  border-radius: 0;
  /* Establece borde sin redondear */
  padding: 0;
  /* Elimina el padding */
  background: transparent;
  border: none;
}

/* Misión, visión y valores con flexbox y espacio entre cards */
#mision {
  display: flex;
  justify-content: space-around;
}


.accordion-button {
  color: #703493;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #703493;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.row {
  margin-left: 30px;
  margin-right: 30px;
}

/* mafe cards */

.about-us {
  padding: 2rem;

  width: 100%;
  /* Asegura que el contenedor de las tarjetas no exceda el ancho del contenedor padre */
}

.cardss-container {
  display: grid;
  gap: 1rem;
  margin: 6px auto;
  /* Centra el contenedor dentro del área disponible */
}
.primero{
  grid-template-columns: repeat(3, 1fr);
}
.segundo{
  grid-template-columns: repeat(2, 1fr);
}


.cardss {
  background-color: #70349E;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  /* Sombra más pronunciada */
  text-align: center;
  transition: transform 0.2s, box-shadow 0.3s;
  max-width: 360px;
  /* Ajusta el ancho de la tarjeta */
  margin: 10px auto;
  /* Centra cada tarjeta dentro del contenedor */
}

.cardss:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  background-color: #869639;
  transition: background-color 0.4s ease;
  /* Sombra más pronunciada al hacer hover */
}

.cardss img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cardss h3 {
  margin: 1rem 0 0.5rem;
  font-size: 25px;
  color: white;
}

.cardss p {
  margin-bottom: 1rem;
  color: white;
  text-align: justify;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  margin: -1rem 0.2rem;
  transition: opacity 0.4s;
  border: 1px solid white;
}
.social-icons{
  display: grid;
}
.social-icons a img:hover {
  opacity: 1;
}

.cardss p {
  margin-top: 0.5rem;
}


.contenido {
  height: 300px;
}

#botonPersonalizado{
  display: none;
  width: 30px;   /* Ajusta el tamaño del botón */
  height: 30px;  /* Ajusta el tamaño del botón */
  border-radius: 50%;
  background-color: #70349E;;
  border: 1px solid black ;

}

/* Oculta la flecha y desactiva el botón en pantallas grandes */
@media (min-width: 992px) {
  .accordion-button::after {
    display: none;
  }

  .accordion-button {
    pointer-events: none;
  }
}

/* Muestra la flecha y habilita el botón en pantallas pequeñas */
@media (max-width: 991px) {
  .accordion-button::after {
    display: inline-block;
  }

  .accordion-button {
    pointer-events: auto;
    opacity: 1;
  }
}

@media (width < 1200px){
  .primero{
    grid-template-columns: repeat(2, 1fr);
  }
  .primero article:nth-child(3), .corregir{
    grid-column: 1 /3;
   }
}

@media (width < 800px){
  .primero, .segundo{
    grid-template-columns: 1fr;
  }
  .primero article:nth-child(3), .corregir{
    grid-column: 1 /2;
   }
   .cardss{
    margin-bottom: 60px;
   }
   #botonPersonalizado{
    display: block;
   }
}
