
/* Estilos para la pantalla después de realizar un registro */

/* Clase para el contenedor de toda la ilustración del perfil  */
.divUsuarioRegistrado{
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    height: auto;
    width: 100%; */
    
}


.tituloPerfil, .modificarProducto h2 {
    text-align: center;
}

.modificarProducto h2{
    margin-top: 30px;
}

.tituloPerfil h1{
    margin-top: 20px;
    color: #70349E;
    font-size: 45px;
}


/* Estos son los contenedores principales del perfil  */
.datosPerfil, .suscripcionYPLatos, .botonesPerfil, .inputsProducto, .botonesProducto{
    margin: auto;
    margin-bottom: 0px; 
    padding: 10px;
    max-width: 600px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
}

.datosPerfil, .inputsProducto{
    grid-template-columns: 1fr 3fr;
}

.suscripcionYPLatos, .botonesPerfil{
    grid-template-columns: 1fr 1fr;
}

.botonesProducto{
    grid-template-columns: 1fr 1fr;
}

/* Estilos para los contenidos de los datos del perfil */
.datosPerfil label, .inputsProducto label{
    padding-left: 20px;
}

.datosPerfil input, .inputsProducto input, .inputsProducto select{
    padding: 5px 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* background-color: white; */
}

#botonCargarProducto{
    padding: 0px 10px;
    grid-column: span 2;
}

/* Estilos necesarios para que el select de categoría se asemeje a los estilos de un input desactivado  */
.inputsProducto select{
    border-width: 1.6px;
    border-style: inset;
    
}
.inputsProducto select:disabled{
    background-color: #efefef4d;
    border-color: #7676764d;
}

.inputsProducto select:enabled{
    background-color: white;
    border-color: black; 
}




.datosPerfil input::placeholder, .inputsProducto select{
    color: black;
}

/* Estilos para los botones #botonVistaPreviaProducto */
.botonesPerfil button, .botonesProducto button, #botonCargarProducto  {
    margin: auto;
    width: 150px;
    height: 30px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

/* #botonVistaPreviaProducto{
    font-size: 25px;
    text-align: right;
} */


.botonesPerfil button:hover, .botonesProducto button:hover, #botonCargarProducto:hover, #botonVistaPreviaProducto:hover{
    cursor: pointer;
    background-color: white;
}

/* #botonCancelarProducto{
    background-color: #6c1adf;
}

#botonCancelarProducto:hover{
    background-color: #a68dc8;
} */

/* #botonEliminarProducto{
    background-color: red;
}

#botonEliminarProducto:hover{
    background-color: rgb(171, 44, 44);
} */


/* Estilos para la sección de imágenes preliminares de platos y suscripciones */
.suscripciones, .platos{
    display: grid;
    grid-template-columns: 1fr;
}

.suscripciones a, .platos a{
    color: #70349E;
    grid-column: 1/3;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.suscripciones a:hover, .platos a:hover{
    cursor: pointer;
}

.suscripciones .planes, .platos .platosBasicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
} 

.suscripcionYPLatos img{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 20px;
}

/* Clase para poder ubicar la imagen del costado izquierdo en posición junto a la imagen derecha */
.imgIzquierda{
    margin-left: 0%;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.transicion-div {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease, visibility 0.9s ease;
  }
  
.transicion-div.mostrar {
    opacity: 1;
    visibility: visible;
}
  
.transicion-div.ocultar {
    opacity: 0;
    visibility: hidden;
}

/* botones que no se muestran desde el inicio de sesión de un administrador */
#botonCargarProducto, #botonCancelarProducto, #botonEliminarProducto{
    display: none;
}

/* Se oculta el label y input titulo ya que estos aparecerán cuando se de en la opción de 
modificar o crear desapareciendo el select de productos disponibles*/
.modificarProducto label:nth-of-type(2), .tituloProducto{
    display: none;
}

.acomodandoVistaPreliminar{
    display: grid;
    grid-template-columns: 3fr repeat(5, 1fr);
}

.acomodandoVistaPreliminar i {
    font-size: 25px;
    text-align: right;
}



@media (width < 900px){
    .divUsuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, .botonesPerfil, .inputsProducto, .botonesProducto{
        max-width: 500px;
    }
    .imgIzquierda{
        margin-left: 0%;
    }
}

/* Cambio de distribución para imagen en celular */
@media (width < 600px){
    .divUsuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, .botonesPerfil, .inputsProducto, .botonesProducto{
        max-width: auto;
        margin: 4%;
        padding-bottom: 4%;
    }
    .botonesProducto{
        grid-template-columns: 1fr 1fr;
    }
    #botonCargarProducto{
        grid-column: span 1;
    }
    .datosPerfil, .suscripcionYPLatos, .inputsProducto{
        grid-template-columns: 1fr;
    }
    .datosPerfil, .inputsProducto{
        gap: 5px;
    }

    .datosPerfil label, .inputsProducto label{
        padding-top: 10px;
    }
    .datosPerfil input, .inputsProducto input, .inputsProducto select{
        margin: 0px 20px;
    }
    .suscripcionYPLatos{
        gap: 20px;
    }
    .imgIzquierda{
        margin-left: 0%;
    }
    .imgDerecha{
        margin-left: 7%;
    }

}

.producto{
    position: relative;
    border: 2px solid rgb(73, 19, 57);
    border-radius: 10%;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 300px;
    }
    
    .producto button {
    padding: 2vh 1.2vw;
    border-radius: 50%;
    background-color: blueviolet;
    }
    
    
    .producto img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }