main {
    /* height: 100vh; */
    padding: 3% 12%;
    background-color: #FFFEF4;
    background-image: url('../img/FONDOCONTACTANOS.jpg');
    background-size: cover;   /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; 
}

/* Para CEL (800px) */
@media (max-width: 450px) {
    main {
        background-image: url('../img/FONDOCELULAR.jpg');
        /* Agregar la extensión correcta, como .jpg */
    }
}

/* Asignación de poppins regular 400 a párrafos */
* {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.titulo h1 {
    padding: 15px;
    color: #70349E;
    font-size: 45px;
    text-align: center;
    /* Esto tendrá mayor especificidad */
}

/* Estilos comunes entre el titulo y cada uno de los productos agregados */
.tituloCuadroCompras, .carrito{
    margin: auto;
    max-width: 1000px;
    border-radius: 20px;
    border: 2px solid black;
    display: grid;
}

.carrito{
    grid-template-columns: 1fr 1fr;
}




/* Estilos para el titulo de compras, este se distribuye en cuatro columnas la primera tiene el doble de tamaño que las demás */
.tituloCuadroCompras{
    margin-bottom: 10px ;
    height: 38px ;
    grid-template-columns: 2fr repeat(3 , 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    gap: 15px;
}

.tituloCuadroCompras h5{
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Contenedor de todos los productos que se van agregando */
/* Se le da un padding para separarlo del titulo de compras */

.productoCarrito{
    margin: auto;
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    display: grid;
} 
.productosAgregados{
    padding: 1px;
}

/* contenedor del primer producto */
.productoCarrito{
    margin-bottom: 20px;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    position: relative; /* Es necesario para poder acomodar el botón de eliminar de forma flotante */
}

.productoCarrito img{
    border-radius: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.productoCarrito p{
    width: 100%;
    margin: auto;
    text-align: center;
    place-items: center;
    
}

/* Ya que en la parte de cantidad, necesitamos tres objetos, es necesario crear un div interno el cual permite centrarlos */
.productoCantidad, .cantidad{
    display: grid;
    place-items: center;
}

/* Div interno de productoCantidad */
.cantidad{
    grid-template-columns: 1fr 2fr 1fr;
}

/* Estilos para la caja que muestra el numero de productos agregados */
.cantidad input{
    width: 40px;
    height: 30px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    background-color: #FFFEF4;
    font-size: 20px;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para los iconos dentro de cantidad */
.cantidad i{
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid black;
    color: rgba(105, 91, 199);
    cursor: pointer;
    box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.cantidad i:hover{
    color: rgb(29, 26, 198);
}

/* En span se encuentra mensajes de precio por unidad y subtotal de cada producto, que se mostraran en pantallas pequeñas */
.productoCarrito span{
    display: none;
}

/* EStilos para botón de eliminar */
.botonEliminar{
    position: absolute; /* Elimina su posición normal  */
    top: 0px; /* Top y right determinan su ubicación en el primer contenedor que posea posición relativa */
    right: 5px;
    height: 30px;
    width: 24px;
    font-size: 20px;
    color: rgb(231, 99, 99);
    cursor: pointer;
}

.botonEliminar:hover{
    color: rgb(174, 59, 59);
}


/*  */
@media(width < 650px){
    .tituloCuadroCompras{
        display: none;
    }

    .productosAgregados{
        display: block;
    }

    /* contenedor del primer producto */
    .productoCarrito{
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }

    /* Poner el primer elemento párrafo el cual es el titulo de forma que ocupe dos columnas */
    .productoCarrito p:first-of-type {
        grid-column: 1/3;
        
    }

    .productoCarrito img{
        margin: auto;
        grid-row-start: 2;
        grid-row-end: 6;
        width: 100px;
        height: 100px;
    }

    /* Con las siguientes instrucciones manipulo la ubicación de los elementos internos para que se ajuste a lo deseado */
    .productoCarrito div:first-of-type{
        grid-row-start: 3;
    }
    .productoCarrito p:nth-of-type(2){
        grid-row-start: 4;
    }
    .productoCarrito p:nth-of-type(3){
        grid-row-start: 5;
    }
    .productoCarrito span{
        display: inline-block;
    }
}

/* .producto{
    width: auto !important; 
    height: auto !important;
    } */

