* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

main {
    background-color: #FFFEF4;
    position: relative;
}




.viaje {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    bottom: 0px;
    z-index: 0;
}

.viajeCity {
    display: flex;
    flex-direction: row;
    animation: RightToLeft 20s infinite linear;
}


@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-75%);
    }
}


.contieneViaje #city {
    width: 100%;
    height: 300px;
    opacity: 20%;
}


.contieneViaje #casa {
    position: absolute;
    width: 23%;
    bottom: 0px;
    left: -10px;
    animation: adiosCasita 10s ease-in infinite;
}

@keyframes adiosCasita {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-90%);
        /* Rebote hacia atrás */
    }

    70% {
        transform: translateX(-80%);
        /* Rebote más pequeño */
    }

    80% {
        transform: translateX(-75%);
        /* Otro pequeño rebote */
    }

    100% {
        transform: translateX(0);
        /* Regreso a la posición inicial */
        opacity: 1;
    }
}

.contieneViaje #moto {
    position: absolute;
    bottom: -20px;
    width: 150px;
    /* transform: translateY(0%); */
    animation: moverDerecha 10s ease-in-out infinite;
}

@keyframes moverDerecha {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}



h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#nombreUsuarioRegistrado {
    font-weight: 700;
    font-size: 20px;
}

.ingreso h2,
.registro h2 {
    padding-bottom: 12px;
    font-size: 25px;
}

.terminos {
    display: flex;
    gap: 20px;
    padding-left: 40px;
    color: #2d09fa;
    transition: 0.25s;
}

.terminos label {
    text-decoration: underline;
}

.terminos label:hover {
    scale: 106%;
}

.terminos input {
    width: 20px;
}


.bodyLogin button {
    width: 200px;
    height: 40px;
    font-weight: 700;
    border-radius: 15px;
    /* border: 2px solid #70349E; */
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

.bodyLogin button:hover {
    background-color: rgba(105, 91, 199, 0.534);
}


/* este es el fondo se le puede colocar la imagen*/
.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    background-color: rgb(255, 255, 255);
    /* este es el fondo se le puede colocar la imagen*/
    transform: 0.5s;
}


/* contiene toda la estructura */
.containerLogin {
    position: absolute;
    width: 800px;
    height: 500px;
    margin: 20px;
}

/* este contenedor funciona como estructura 
de los títulos y botones de ingreso y registro */
.zonagris {
    position: relative;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    background-image: url("../img/zonagris.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 15px;
}

/* se le da direccion y posicionamiento a titulos 
y botones */
.zonagris .ingreso,
.zonagris .registro {
    position: relative;
    width: 50%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* se le da propiedad de estar sobrepuesto a todo
el tamaño del container este seccion correra de un
lado a otro suave */
.contieneFormularios {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 110%;
    background: rgb(248, 247, 245);
    z-index: 1000;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    /* tapa el texto fuera del contenedor */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.375);
}

/* se le da el efecto de deslizarse cuando se oprime
el boton de registro o ingreso */
.contieneFormularios.active {
    left: 50%;
}

/* se le da el cambio de color al dar en los botones
de ingreso o registro */
.bodyLogin.active {
    background: rgba(239, 238, 239, 0.432);
}

/* se le otorga al formulario ingreso una posicion a la izq
con sus elementos centrados y transiciones suaves */
.contieneFormularios .formularioIngreso {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    transition-delay: 0.25s;
    align-self: center;
}

/* posicion de los titulos e input y boton */
.contieneFormularios .formularioIngreso form,
.contieneFormularios .formularioRegistro form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* tamaño de espaciado entre elementos */
}

/* cuando se realize click el formulario de ingreso
sale hacia la izq */
.contieneFormularios.active .formularioIngreso {
    left: -100%;
    transition-delay: 0s;
}

/* se le otorga al formulario registro una posicion a la der
con sus elementos centrados y transiciones suaves */
.contieneFormularios .formularioRegistro {
    position: absolute;
    left: 100%;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    transition-delay: 0s;
    align-self: center;
}

/* cuando se realize click el formulario de registro
sale hacia la der */
.contieneFormularios.active .formularioRegistro {
    left: 0;
    transition-delay: 0.25s;
}

.formularioIngreso input,
.formularioRegistro input {
    height: 35px;
    border: 1px solid rgba(105, 91, 199, 0.534);
    border-radius: 10px;
    padding-left: 20px;
}

.divContrasena {
    position: relative;
    padding: 0px;
}

.divContrasena input {
    width: 100%;
}

.divContrasena i {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #76767684;
    top: 4px;
    right: 10px;
}

.divContrasena i:hover {
    color: #70349E;
}

/* Estilos para los botones  */
#realizarIngreso,
#realizarRegistro {
    padding-left: 0px;
    margin: auto;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #70349E;
    background-color: #70349e78;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

#realizarIngreso:hover,
#realizarRegistro:hover {
    background-color: rgba(242, 240, 249, 0.534);
}

/* cuando la pantalla es pequeña  */
@media (max-width: 991px) {

    /* se le asigna una tamaño al contenedor */
    .containerLogin {
        max-width: 400px;
        height: 680px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* se alienan los contenedore externos */
    .containerLogin .zonagris {
        top: 0;
        height: 100%;
    }

    /* se asigna tamaño a los formularios */
    .contieneFormularios {
        width: 100%;
        height: 560px;
        top: 0;
    }

    /* los  botones de ingreso y registro se
    posicionan en forma abosluta
    y se les asigna un espacio*/
    .zonagris .registro,
    .zonagris .ingreso {
        position: absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
    }

    /* la posicion de la seccion ingreso sera
   ajustada arriba no a laizq */
    .ingreso {
        position: absolute;
        top: 0;
    }

    /* se desplaza de arriba a abajo 120px */
    .contieneFormularios.active {
        left: 0;
        top: 120px;
    }

}


@media (width < 450px) {
    .containerLogin {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .DibujoLogin {
        display: block;
        /* Asegura que se muestre en pantallas grandes */
    }
}

@media (max-width: 1023px) {
    .DibujoLogin {
        display: none;
        /* Oculta la imagen en pantallas pequeñas */
    }
}