.modal1,
.modalterminosP {
    display: none;
    /* Desaparece el contenedor */
    position: fixed;
    /*Mantiene la pantalla fija asi se haga scroll  */
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    transition: 3s ease-in-out;
}


.modal1-contenedor,
.modalterminos {
    margin: auto;
    background-color: white;
    padding: 40px 35px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    overflow: auto;
}

.modal1-contenedor {
    max-width: 450px;
    width: 80%;
    max-height: 97%;
    height: auto;
    text-align: justify;
}

.modalterminos {
    width: 60%;
    height: 95%;
    text-align: justify;
}

.modal1 b,
#textoModalEliminar p {
    text-align: center;
    font-size: 20px;
}

.modal1 h4 {
    text-align: center;
    color: #70349E;
}

.modalterminos h5,
.modalterminos h6 {
    text-align: center;
}

.cerrar,
.cerrarTerminos {
    color: rgb(231, 99, 99);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: right;
    /* lo obliga a posicionarse a la derecha  */
    position: absolute;
    /* elimina su posición normal en un documento */
    top: 3px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 1px 8px rgba(0, 0, 0, 0.25);
}

.cerrar:hover,
.cerrarTerminos:hover {
    box-shadow: 3px 8px rgba(0, 0, 0, 0);
    color: rgb(174, 59, 59);
    cursor: pointer;
}

.vistaPreviaAceptar,
.vistaPreviaMensaje,
.contenedorBotonGuardarCambiosPerfil,
.inputContrasenaEditarPerfil {
    margin-top: 35px;
    /* margin: auto;  */
    /* width: 300px; */
    text-align: center;
}

.vistaPreviaAceptar,
.modal-buttons {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.inputContrasenaEditarPerfil input {
    padding: 5px 10px;
    border-radius: 10px;
}

.vistaPreviaAceptar button,
.contenedorBotonGuardarCambiosPerfil button,
.modal-buttons button {
    margin: auto;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
    /* background-color: rgba(105, 91, 199, 0.534); */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7);
}

/* Boton color rojo */
.botonRojo {
    background-color: rgb(231, 99, 99);
    border: 2px solid rgb(231, 99, 99);
    color: white;
}

.botonRojo:hover {
    transition: background-color 0.5s;
    background-color: white;
    color: rgb(231, 99, 99);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);
}

/* Boton color azul */
.botonAzul,
.botonAzulInvertido:hover {
    background-color: white;
    border: 2px solid #70349E;
    color: #70349E;
}

.botonAzul:hover,
.botonAzulInvertido {
    transition: background-color 0.5s;
    background-color: #70349E;
    color: white;
}

.botonAzul:hover,
.botonAzulInvertido:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);
}



@media(width < 840px) {
    .modalterminos {
        width: 95%;
    }
}

@media (width < 450px) {

    .vistaPreviaAceptar,
    .modal-buttons,
    .vistaPreviaMensaje,
    .modal1-contenedor {
        width: 95%;
    }

    .vistaPreviaAceptar button,
    .modal-buttons button {
        width: 120px;
    }
}

.subscriptionName {
    font-size: 19px;
}