/* Estilos para la pantalla después de realizar un registro 
Para perfiles de usuario y de administrador*/

/* Estilos para que al hacer cambio de ventana tenga una transición mas amigable */
.transicion-div {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease, visibility 0.9s ease;
  }
  
.transicion-div.mostrar {
    opacity: 1;
    visibility: visible;
}
  
.transicion-div.ocultar {
    opacity: 0;
    visibility: hidden;
}

/* Clase para el contenedor de toda la ilustración del perfil  */
.divUsuarioRegistrado{
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    height: auto;
    width: 100%; */
}

/* Titulos principales, Perfil, Modificar o editar producto */
.tituloPerfil, .modificarProducto h2 {
    text-align: center;
    color: #70349E;
}

.tituloPerfil h1{
    margin-top: 20px;
    font-size: 45px;
}

.modificarProducto h2{
    margin-top: 30px;
}

/* Estos son todos los contenedores principales de ambos perfiles  */
.datosPerfil, .suscripcionYPLatos,
 .botonesPerfil, .inputsProducto{
    margin: auto;
    margin-bottom: 0px; 
    padding: 10px;
    max-width: 600px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
}

/* Grid para todo los formularios de las diferentes vistas de perfil */
.datosPerfil, .inputsProducto{
    grid-template-columns: 1fr 3fr;
}
#divBotonCargar{
    margin-top: 5px;
    grid-column: span 2;
    text-align: center;
}

.suscripcionYPLatos, .botonesPerfil{
    grid-template-columns: 1fr 1fr;
}

/* Estilos para los label de los formularios  */
.datosPerfil label, .inputsProducto label, .parrafoImagen{
    padding-left: 20px;
}
/* Estilos para los input y select de los formularios */
.datosPerfil input, .inputsProducto input, .inputsProducto select{
    padding: 5px 10px;
    border-radius: 10px;
}

.divUrlProducto{
    position: relative;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    color: #545454;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.divUrlProducto p{
    margin: auto;
    padding-left: 0px;
    
}

/* Estilos para todos los botones que no están representados
con un símbolo*/

.botonesPerfil button, 
.modificarProducto button,
#botonCargarProducto,
.divUrlProducto label,
.vistaPreviaAceptar button {
    margin: auto;
    width: 130px;
    height: 30px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}
/* Estilo adicional para el label de Cargar Imagen  */
.divUrlProducto label{
    margin: 0;
    padding: 0px;
    text-align: center;
    /* color: black;  */
     color: #1010104d; 
}

.cargar label{
    color: black;
}


.botonesPerfil button:hover,
.vistaIdYBotones i:hover,
.vistaIdYBotones button:hover,
.cargar #botonCargarProducto:hover,
.vistaPreviaAceptar button:hover,
.cargar label:hover{
    cursor: pointer;
    background-color: white;
    color: #70349E;
}

#botonEliminarProducto{
    color: rgb(174, 59, 59);
}

#botonEliminarProducto:hover{
    color: rgb(231, 99, 99);
}

.vistaIdYBotones{
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
}

.vistaIdYBotones i {
    font-size: 26px;
    text-align: right;
}

.vistaIdYBotones i:hover {
    color: blue;
}

#botonCancelarEdicionProducto{
    grid-column: 3/5;
}

#botonCargarProducto{
    padding: 0px;
}
#urlProducto{
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0px;
}
#urlProducto:hover{
    cursor: pointer;
}

/* Estilos necesarios para que el select de categoría y el label usado como boton de Url
 se asemeje a los estilos de un input desactivado  */
.inputsProducto select:disabled, .divUrlProducto{
    background-color: #efefef4d;
    border-color: #7676764d;
}
/* Estilos necesarios para que el select de categoría
 se asemeje a los estilos de un input activado  */
.inputsProducto select:enabled{
    background-color: white;
    border-color: black; 
}
/* Estilos necesarios para que el select de categoría
 se asemeje a los estilos de un input   */
 .inputsProducto select, .divUrlProducto {
    border-width: 1.6px;
    border-style: inset;
    
}

/* Se oculta el label y input titulo ya que estos aparecerán cuando se de en la opción de 
modificar o crear desapareciendo el select de productos disponibles*/
/* botones que no se muestran desde el inicio de sesión de un administrador */
.modificarProducto label:nth-of-type(2), .tituloProducto, 
#botonCancelarEdicionProducto{
    display: none;
}


/* Estilos para la sección de imágenes preliminares de platos y suscripciones */
.suscripciones, .platos{
    display: grid;
    grid-template-columns: 1fr;
}

.suscripciones a, .platos a{
    color: #70349E;
    grid-column: 1/3;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.suscripciones a:hover, .platos a:hover{
    cursor: pointer;
}

.suscripciones .planes, .platos .platosBasicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
} 

.suscripcionYPLatos img{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 20px;
}

/* Clase para poder ubicar la imagen del costado izquierdo en posición junto a la imagen derecha */
.imgIzquierda{
    margin-left: 0%;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (width < 900px){
    .divUsuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, 
    .botonesPerfil, .inputsProducto{
        max-width: 500px;
    }
    .imgIzquierda{
        margin-left: 0%;
    }
    .vistaIdYBotones input{
        width: 100px;
    }
}


/* Cambio de distribución para imagen en celular */
@media (width < 600px){
    .divUsuarioRegistrado{
        height: auto;
    }
    .datosPerfil, .suscripcionYPLatos, 
    .botonesPerfil, .inputsProducto{
        max-width: auto;
        margin: 4%;
        padding-bottom: 4%;
    }
    .datosPerfil, .suscripcionYPLatos, .inputsProducto{
        grid-template-columns: 1fr;
    }
    .datosPerfil, .inputsProducto{
        gap: 5px;
    }

    .datosPerfil label, .inputsProducto label, .inputsProducto p:nth-of-type(1){
        padding-top: 10px;
    }
    .inputsProducto p:nth-of-type(1){
        margin: 0px;
    }
    .divUrlProducto label{
        padding-top: 0px;
        padding-bottom: 0px;
    }
     .divUrlProducto p{
        text-align: center;
        /* padding-right: 15px; */
    } 
    .datosPerfil input, 
    .inputsProducto input, 
    .inputsProducto select,
    .divUrlProducto{
        margin: 0px 20px;
    }
    .vistaIdYBotones{
        margin-right: 20px;
    }
    #divBotonCargar{
        margin-top: 15px;
        grid-column: span 1;
    }
    .suscripcionYPLatos{
        gap: 20px;
    }
    .imgIzquierda{
        margin-left: 0%;
    }
    .imgDerecha{
        margin-left: 7%;
    }

}


/* Estilos para la ventana modal de vista previa del producto */

/*  de estilos de producto de vista previa */
.producto{
    margin: auto;
    position: relative;
    border: 2px solid rgb(73, 19, 57);
    border-radius: 10%;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 300px;
}

.producto button {
padding: 2vh 1.2vw;
border-radius: 50%;
background-color: blueviolet;
}


.producto img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contenedorBotonCard{
    position: absolute;
    right: -5px;
    bottom: 0px;
}
/* Fin de estilos de producto de vista previa */

/* .modalVistaPrevia{
    display: block;
} */

.modalVistaPrevia h4{
    text-align: center;
    color: #70349E;
}


.vistaPreviaAceptar{
    text-align: center;
    margin: 20px;
}