.producto p{
    font-size: 16px;
}

.modal1 {
    display: none;
    position: fixed;  /*Mantiene la pantalla fija asi se haga scroll  */
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    transition: 3s ease-out;
}

.modal1-contenedor,
.modalterminos {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    overflow: auto;
}

.modal1-contenedor {
    max-width: 450px;
    width: 80%;
    max-height: 97%;
    height: auto;
    text-align: center;

    /* b  */
    &>p, b{  
        margin: 0;
        font-size: 20px;
        text-align: justify;
    }

    h4,h3{
        color: #70349E;
    }

    input {
        padding: 5px 10px;
        border-radius: 10px;
    }
    
    button {
        margin: auto;
        width: 150px;
        height: 40px;
        font-weight: bold;
        border-radius: 50px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7);
    }
}


.modalterminos {
    width: 80%;
    height: 95%;
    text-align: justify;

    h5,h6{
        text-align: center;
    }
}

.cerrar {
    color: rgb(231, 99, 99);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: right;
    /* lo obliga a posicionarse a la derecha  */
    position: absolute;
    /* elimina su posición normal en un documento */
    top: 3px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 1px 8px rgba(0, 0, 0, 0.25);
}

.cerrar:hover {
    box-shadow: 3px 8px rgba(0, 0, 0, 0);
    color: rgb(174, 59, 59);
    cursor: pointer;
}

.modal-buttons {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}


/* Botón color rojo */
.botonRojo {
    background-color: rgb(231, 99, 99);
    border: 2px solid rgb(231, 99, 99);
    color: white;
}

.botonRojo:hover {
    transition: 0.5s ease;
    background-color: white;
    color: rgb(231, 99, 99);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);
}

/* Botón color azul */
.botonAzul,
.botonAzulInvertido:hover {
    background-color: white;
    border: 2px solid #70349E;
    color: #70349E;
}

.botonAzul:hover,
.botonAzulInvertido {
    transition: background-color 0.5s;
    background-color: #70349E;
    color: white;
}

.botonAzul:hover,
.botonAzulInvertido:hover {
    transition: 0.5s ease;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);
}

@media(width < 840px) {
    .modal1-contenedor,
    .modalterminos {
        padding: 40px 5%;
    }
    .modalterminos {
        width: 95%;
    }
}

@media (width < 450px) {

    .modal1-contenedor {
        width: 95%;
    }

    .modal-buttons button {
        width: 120px;
    }
}
