* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

main{
    background-color: #FFFEF4;
}

.carruselbanners img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cintaDinamica{
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    background-color: rgba(112, 52, 158, 0.790);
}

.desplazar{
    display: flex;
    height: 100px;
    padding: 10px 0px;
    align-items: center;
    justify-content: left;
    color: white;
    text-align: center;
    white-space: nowrap;
    animation: rightToLeft 14s linear 0.2s infinite normal none;
}

@keyframes rightToLeft {
    to {
        transform: translateX(-33.33%);
    }
}

.textoCinta{
    margin-right: 15px;
}

.cintaDinamica h3{
    margin: 0;
}
.imagenCinta{
    margin-right: 80px;
    height: 100%;
}
.cintaDinamica img{
    height: 100%;
}

.contenidoMenu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: auto;
    gap: 20px
}

.tamañoIcono{
   width: 50px;
   border-radius: 50%;
}

.contenedorIcono{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorIcono2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #70349E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCentrado{
    text-align: center;
    padding-left: 1.5%;
}

.fondo1{
    display: grid;
    grid-template-rows: 1fr 20px;


    
}

.tituloIntermedio {
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img_comidas/CARRUSEL-INDEX/Banner_titulos.png") repeat-y
      center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
  
    h2{
      /* width: fit-content; */
      margin: 0;
      background-color: #545454db;
      border-radius: 10px;
    }
}

.fondo2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 80vh;
    
}

.botonMenu{
    width: 11vw;
    height: 5vh;
    color: white;
    font-size: 15px;
    background-color: #70349E;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
}

.sectionMenu{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    margin-bottom: 1%;
}

.sectionMenu div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    width: 32.9vw;
    /* height: 35vh; */
}

.sectionMenu h2{
    font-size: 3vw;
    color: white;
}
.sectionMenu img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.sectionFondo{
    background-color: rgba(112, 52, 158, 0.790);
}

.sectionFondo2{
    background-color: rgba(0, 0, 0, 0.100);
}



@media screen and (max-width: 650px){
    .contenidoMenu{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding:5%;
        gap: 8px
    }
    .sectionMenu{
        height: 35vh;
    }
    
    
}

