body{
    background-color: #FFFEF4;
}

main {
    position: relative;
}

/* Asignación de poppins regular 400 a párrafos */
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    justify-content: center;
}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
span {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

button {
    font-weight: bold;
}

/* Estilos para las imágenes de fondo */
.imagenFondoManipulable{
    width: 14vw;
    position: fixed;
    z-index: -1;

    img{
        width: 100%;
        height: 100%;
    };
}

.imagenSuperiorDerecha{
    top: 80px;
    right: 0;
}
.imagenInferiorIzquierda{
    bottom: 0px;
}
.imagenInferiorDerecha{
    bottom: 0;
    right: 0;
}

@media(width< 470px){
    .imagenFondoManipulable{
        display: none;
    }
}

 /* Titulo principal */
.titulo h1 {
    margin-top: 20px;  
    color: #70349E;
    font-size: 50px;
    text-align: center;
}

/* Estilos para el cada una de las secciones de la pagina*/
.divContenidoFormulario, .informacion, .parrafoIntermedio {
    width: 800px;
    padding: 30px 10px;
    margin: auto;
}

.parrafoIntermedio p{
    margin: 0;
}

.divContenidoFormulario, .informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* EStilos para el div que contiene el mensaje que se le da al usuario */
.divContenidoFormulario .texto{
    text-align: center;
    padding: 0px 20px;
}

.textoTitulo h1{
    color: #70349E;
    font-size: 45px ;
}

.textoParrafo{
    margin-top: 30px;
    padding: 0px 20px;
}

.textoParrafo h5{
    line-height: 30px; /* PAra controlar el espacio entre lineas verticalmente */
}

/* Estilos para hacer responsive el formulario de contáctenos */
/*y también para aplicar estilos al contenedor de la información de contacto  */

.divContenidoFormulario .contenedorBoton {
    align-items: center;
    text-align: center;
    grid-column: span 2;
}

.contenedorBoton .boton {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

.contenedorBoton .boton:hover{
    background-color: white;
}

/*Espacio interno de distribución de las columnas de la parte izquierda del formulario  */
.formulario .inputPequeños {
    margin-left: 0%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.formulario .inputContenido {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

/* Estilos para las cajas de entrada de texto */
.formulario input,
textarea {
    width: 100%;
}

.formulario input {
    padding-left: 5px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #70349E;
}

/* tamaño de alto de la caja de texto de contenido del mensaje */
.inputContenido .etiqueta{
    display: none;
}

.inputContenido{
    margin-top: 20px;
}

textarea {
    padding: 0 7px;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #70349E;
}

/* Estilos para la sección de información de contacto y mapa */
.informacion {
    width: 800px;
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.informacion .datos {
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #70349E;
}

/* párrafos dentro de información de contacto */
.ajusteParrafo {
    margin: 0%;
}

/* Estilo para el div que contiene el mapa */
.ubicacion {
    border-radius: 30px;
}

.mapa {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #70349E;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Cuando el tamaño de la pantalla sea menor a 992px cambia la vista
 a una columna y el botón se asigna un espacio de ocupación de una columna */
@media(width < 992px) {
    
    .textoTitulo h1{
        font-size: 35px;
    }

    .textoParrafo h5{
        line-height: auto; /* PAra controlar el espacio entre lineas verticalmente */
    }

    .divContenidoFormulario .texto{
        text-align: left;
        padding: 0px;
        
    }
    .textoParrafo{
        padding: 0px;
        margin-top: 0px;
    }

    .divContenidoFormulario, .informacion, .parrafoIntermedio {
        width: 500px;
        padding: 20px 10px;
    }

    .divContenidoFormulario, .informacion {
        grid-template-columns: 1fr;
    }

    .divContenidoFormulario .contenedorBoton {
        grid-column: span 1;
    }

    .formulario .etiqueta {
        padding: 3% 0%;
    }

    .formulario .inputPequeños {
        gap: 10px;
        grid-template-columns: 1fr 4fr;
    }

    .inputContenido .etiqueta{
        display: block;
        padding: 0px;
    }

    .informacion {
        grid-template-rows: 3fr 2fr;
    }
    
}

/* Cuando la pantalla sea menor a 600px la distribución interna de la
 parte izquierda y derecha pasa a ser de a una columna */
@media(width < 600px) {
    
    .titulo h1 {
        font-size: 40px;
    }

    .divContenidoFormulario, .informacion, .parrafoIntermedio {
        max-width: 360px;  
    }

    .divContenidoFormulario{
        grid-template-columns: 1fr;
    }

    .formulario .inputPequeños {
        gap: 0px;
        grid-template-columns: 1fr;
    }

    .formulario .etiqueta {
        padding: 8px 0px 0px;
        text-align: left;
    }

    .formulario .inputContenido {
        margin: 0%;
        padding: 0%;
    }

}

@media(width < 400px){
    .divContenidoFormulario, .informacion, .parrafoIntermedio {
        width: 96vw;
    }
}

