/* //Estilo Herocontent */
.hero-content {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
    grid-column: 1 / -1;
    height: auto;
}

.imgdehero img {
    object-fit: cover;
    height: auto;
    width: 100%;

}

/* //FINAL Estilo Herocontent */

/* Estilos para el subtitle, cinta que se desplaza de manera automatica */
.subtitle {
    grid-column: 1 / -1;
    margin-bottom: 25px;
}

.cinta {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: #703493;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(217, 217, 87);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
}

.RightToLeft {
    animation: RightToLeft 8s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-20%);
    }
}

/* Fin de estilos para el subtitle, cinta que se desplaza de manera automatica */

/* Estilos para el subscription-container */
.subs-container {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* Para pantallas más grandes */
    gap: 40px;
    max-width: 980px;
    /* Asegúrate de que no haya espacio en blanco */
}



/* Objetos dentro del contenedor */
.Objectos1 {
    margin: 0 auto;
    background-color: rgb(38, 34, 34);
    height: 500px;
    width: 70%;
    border-radius: 25px;
}

/* Fin de Estilos para el subscription-container */