
/* Asignación de poppins regular 400 a párrafos */
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
h5 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-weight: 900;
    ;
}

button {
    cursor: pointer;
}

hr {
    line-height: 0px;
}

/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFEF4;
}

main {
    flex: 1;
    position: relative;
}

.imagenFondoManipulable{
    width: 200px;
    position: absolute;
    z-index: -1;

    img{
        width: 100%;
        height: 100%;
    };
}

.imagenSuperiorDerecha{
    top: 50px;
    right: 0;
}
.imagenInferiorIzquierda{
    bottom: -70px;
}
.imagenInferiorDerecha{
    bottom: 0;
    right: 0;
}


.titulo{
    padding-top: 3%;
}

.titulo h1,
.carritoVacio,
.tituloCuadroCompras h2 {
    color: #70349E;
    text-align: center;
}

.titulo h1 {
    font-size: 45px;
}

.carritoVacio {
    flex: 1;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 600px;
}

.tituloCarritoVacio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: end;
}

.carritoVacio a {
    margin: 0px auto;
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color:#afa8dc;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        color: #70349E;
        background-color: white;
    }
}

.carrito {
    display: none;
    margin: auto;
    max-width: 1000px;
    border-radius: 20px;
    
    /* display: grid; javascript*/
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Contenedor de todos los productos que se van agregando */
/* Se le da un padding para separarlo del titulo de compras */

.productosAgregados {
    padding: 1px;
}

.productoCarrito {
    margin: auto;
    max-width: 450px;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: grid;
    /* margin-bottom: 20px; */
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    position: relative;
    /* Es necesario para poder acomodar el botón de eliminar de forma flotante */
}

.productoCarrito img {
    border-radius: 20px;
    margin: 20px 0;
    width: 150px;
    height: 150px;
}

.productoCarritoInfo {
    padding-top: 40px;
    text-align: center;
}

.productoCarritoInfo p {
    font-size: 18px;
}

/* Ya que en la parte de cantidad, necesitamos tres objetos, 
es necesario crear un div interno el cual permite centrarlos */
.productoCantidad,
.cantidad {
    display: grid;
    place-items: center;
}

.productoCantidad {
    margin-bottom: 20px;
}

/* Div interno de productoCantidad */
.cantidad {
    grid-template-columns: 1fr 2fr 1fr;
}

/* Estilos para la caja que muestra el numero de productos agregados */
.cantidad input {
    width: 40px;
    height: 30px;
    margin: auto;
    border: 0px solid black;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
}

/* Estilos para los iconos dentro de cantidad */
.cantidad i {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    font-size: 25px;
    font-weight: bold;
    color: rgba(105, 91, 199);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &:hover {
        color: rgb(29, 26, 198);
        box-shadow: 3px 3px rgba(0, 0, 0, 0);
    }
}

/* EStilos para el icono botón de eliminar */
.botonEliminar {
    height: 30px;
    width: 24px;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 23px;
    color: #8080806b;
    cursor: pointer;

    &:hover {
        color: rgb(174, 59, 59);
    }
}

.verInformacion {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

.infoPantallaPequena {
    display: none;
    text-align: center;
}

/* Estilos para el resumen de compra */
.vistaPreviaYResumenCompra {
    position: relative;
}

.resumenCompra {
    position: sticky;
    max-width: 340px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    background-color: #fffef4ea;
}

.resumenCompra h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.resumenCompra table {
    width: 90%;
    margin-bottom: 20px;
   
    td:not(:first-child), th{
        text-align: center;
    }
}


.resumenCompra .totales p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


#botonPagar {
    display: block;
    width: 100%;
    background-color: #695BC7;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    border: 1px solid #695BC7;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7);
}

#botonPagar:hover {
    background-color: white;
    color: #695BC7;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

}

@media(width < 860px) {

    .imagenFondoManipulable{
        width: 120px;
    }

    .tituloCarritoVacio {
        grid-template-columns: 1fr;

        img {
            grid-row-start: 1;
            margin: auto;
            border-radius: 20px;
        }
    }

    .carrito {
        grid-template-columns: 1fr;
    }

    .carrito{
    padding: 0 12%;
    }
}

/*  */
@media(width < 650px) {
    .carritoVacio {
        width: auto;
    }
}

@media(width < 450px) {
    .infoPantallaPequena {
        display: block;
    }

    .infoPantallaGrande {
        display: none;
    }
}