/* Elimina márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

body{
  position: relative;
  background-color: #FFFEF4;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 20px 50px;
}

/* Estilos para las imágenes de fondo */
.imagenFondoManipulable{
  width: 200px ;
  position: absolute;
  z-index: -1;

  img{
      width: 100%;
      height: 100%;
  };
}

.imagenSuperiorDerecha{
  top: 90px;
  right: 0;
}
.imagenInferiorIzquierda{
  bottom: 80px;
  left: 0;
}

@media (width < 992px){
  .imagenFondoManipulable{
    width: 150px ;
  }
  .imagenInferiorIzquierda{
    bottom: 120px;
  }
}

@media (width < 576px){
  .imagenFondoManipulable{
    width: 80px ;
  }
  .imagenInferiorIzquierda{
    bottom: 140px;
  }
}

/* Estilos del contenedor del titulo y la presentación inicial */
.titulo {
  max-width: 600px;
  margin: auto;
  padding: 20px;

  h2 {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    color: #70349E;
    text-shadow: 2px 2px 4px #70349E;
  }
  
  h2:last-child {
    text-align: right;
  }
}

.presentacionInicial{
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.imgNosotros {
  text-align: center;

  img {
    width: 400px;
    mask-image: linear-gradient(white 75%, transparent);
  }
}

.textoNosotros {
  align-content: center;
  text-align: justify;

  h5 {
    line-height: 26px;
  }
}

#softSinfoni {
  font-size: 25px;
  color: #70349E;
  font-weight: bold;
}

/* Estilos para los acordeones */
.accordion-item{
  height: 100%;
}

.accordion-body p {
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
}

/* Oculta la flecha y desactiva el botón en pantallas grandes */
.accordion-button {
  pointer-events: none;
  &::after {
    display: none;
  }
}

.collapsed{
  color: #70349E;
  background-color: white; 
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #70349E;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/flechaArriba.png");
}

.accordion-button::after {
  background-image: url("../img/flechaAbajo.png");
  color: #70349E;
}

/* Inicio TARJETAS PERFILES */
/* contenedor de todas las tarjetas */
.swiper{
  padding: 30px 0px 70px;
}

/* contenedor de una tarjeta */
.swiper-slide{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 12px ;
  color: white;
}

.caraPrincipal, .caraSecundaria{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
  overflow: hidden;
  transition: 2s;
}

.caraPrincipal{
  padding: 20px 0;
  transform: perspective(600px) rotateY(0deg);
  text-align: center;
  background-color: #70349E;
}

.simboloGirar{
  position: absolute;
  width: 30px;
  top: 5px;
  right: 5px;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s;
}

.simboloGirar:hover{
  background-color: rgba(255, 255, 255, 0.718);
}

.rotarSimbolo{
  transform: rotate(360deg);
}

.fotoPerfil{
  border-radius: 50%;
  width: 150px;
  height: 160px;
  box-shadow: 0px 0px 6px white;
}

.redes{
  word-spacing: 30px;
  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: black;
    }
  }
  i{
    font-size: 45px;
  }
}

.caraSecundaria{
  padding: 20px;
  transform: perspective(600px) rotateY(180deg);
  background-color: #70349E;

  h4{
    text-align: center;
  }
  p{
    text-align: justify;
    hyphens: auto;
  }
}

.girarTarjeta .caraPrincipal{
  transform: perspective(600px) rotateY(180deg);
}
.girarTarjeta .caraSecundaria{
  transform: perspective(600px) rotateY(360deg);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px; 
}

.swiper-pagination-bullet-active {
  background-color: #0c0c0c; /* Cambia el color de fondo del botón activo */
}
/* TARJETAS PERFILES HASTA AQUÍ */

@media(width < 992px){
  main {
    padding: 6%;
  }

  .presentacionInicial{
    flex-direction: column;
    gap: 20px;
  }
  
  /* Muestra la flecha y habilita el botón en pantallas pequeñas */
  .accordion-button {
    pointer-events: auto;
    &::after {
      display: block;
    }
  }
}

@media (width < 500px) {

  .titulo h2{
    font-size: 45px;
  }

  .imgNosotros img {
      width: 90%;
  }
}

@media(width < 370px){

  main {
    padding: 3%;
  }

}

@media (width < 350px) {
  .swiper-slide{
    width: 280px;
    height: 400px;
    margin: 0 10px ;
  }
}