label{
    font-size: 17px;
}

/* Clase para el contenedor de toda la ilustración del perfil  */
.divUsuarioRegistrado {
    display: none;
    width: 100%;
    background-color: #fffef4a0;
}

/* Títulos principales, Perfil, Modificar o editar producto */
.tituloPerfil,
.modificarProducto h2 {
    text-align: center;
    color: #70349E;
    /* background-color: #fffef4ee; */
}

.tituloPerfil h1 {
    padding-top: 20px;
    font-size: 45px;
}

.modificarProducto {
    padding-top: 50px;
    padding-bottom: 50px;
}

.modificarProducto h2 {
    margin-top: 30px;
}

/* Estos son todos los contenedores principales de ambos perfiles  */
.datosPerfil,
.suscripcionYPLatos,
.botonesPerfil,
.inputsProducto {
    display: grid;
    max-width: 500px;
    margin: auto;
    margin-bottom: 0px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    /* background-color: #fffef4ee; */
}

.suscripcionYPLatos{
    margin-top: 30px;
}

/* Grid para todo los formularios de las diferentes vistas de perfil */
.datosPerfil,
.inputsProducto {
    grid-template-columns: 2fr 5fr;
}

#divBotonCargar {
    margin-top: 5px;
    grid-column: span 2;
    text-align: center;
}

.suscripcionYPLatos,
.botonesPerfil {
    grid-template-columns: 1fr 1fr;
}

/* Estilos para los label de los formularios  */
.datosPerfil label,
.inputsProducto label,
.parrafoImagen {
    width: auto;
    box-sizing: border-box;
    padding-left: 20px;
    /* background-color: #fffef4; */
    margin-right:  auto;
}

/* Estilos para los input y select de los formularios */
.datosPerfil input,
.inputsProducto input,
.inputsProducto select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
}

.divUrlProducto {
    position: relative;
    align-items: center;
    border-radius: 10px;
    height: 37px;
    color: #545454;
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.divUrlProducto p {
    margin: auto;
    padding-left: 0px;
    overflow: hidden;
    text-align: center;
}


/* Estilo adicional para el label de Cargar Imagen  */
.divUrlProducto i {
    line-height: 0px;
    margin: 0px;
    font-size: 32px;
}

.divUrlProducto label {
    padding-left: 5px;
    width: 30px;
    color: #1010104d;
}

#urlProducto {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0px;
    width: 50px;
}

#urlProducto:hover {
    cursor: pointer;
}


/* Estilos para todos los botones que no están representados
con un símbolo*/

.botonesPerfil button,
.modificarProducto button,
#botonCargarProducto,
.botonCard {
    transition: 0.5s ease;
    margin: auto;
    width: 130px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: #ababdb;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.botonCard{
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.tamanoGrande{
    width: 180px;
}

.botonesPerfil #guardarCambiosPerfilAdmin,
.botonesPerfil #cancelarCambiosPerfilAdmin,
.botonesPerfil #guardarCambiosPerfilUsuario,
.botonesPerfil #cancelarCambiosPerfilUsuario
{
    display: none;
}

/* Botones de cancelar  */
.vistaIdYBotones button,
.botonesPerfil button:nth-of-type(4) {
    background-color: rgb(231, 99, 99);
    border: 2px solid rgb(231, 99, 99);
    color: white;
    transition: 0.5s ease;
}

.vistaIdYBotones input {
    width: 100px;
}

.vistaIdYBotones button:hover,
.botonesPerfil button:nth-of-type(4):hover {
    transition: 0.5s ease;
    background-color: white;
    color: rgb(231, 99, 99);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);

}


.botonesPerfil button:hover,
.cargar #botonCargarProducto:hover,
.botonCard:hover{
    transition: 0.5s ease; 
    cursor: pointer;
    background-color: white;
    color: #70349E;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0);
}

#botonEliminarProducto {
    color: rgb(174, 59, 59);
}

#botonEliminarProducto:hover {
    color: rgb(231, 99, 99);
}

.vistaIdYBotones {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
}

.vistaIdYBotones i,
.cargar label {
    font-size: 26px;
    text-align: right;
    color: rgb(90, 90, 179);
}

.vistaIdYBotones i:hover,
.cargar i:hover {
    color: #71B344;
}

#botonCancelarEdicionProducto {
    grid-column: 3/5;
}

#botonCargarProducto {
    padding: 0px;
}

.divUsuarioRegistrado input:disabled{
    background-color: #fffef4;
}


/* Estilos necesarios para que el select de categoría y el label usado como botón de Url
 se asemeje a los estilos de un input desactivado  */
.inputsProducto select:disabled,
.divUrlProducto {
    background-color: #fffef4;
    /* background-color: #efefef4d; */
    border-color: #7676764d;
}

/* Estilos necesarios para que el select de categoría
 se asemeje a los estilos de un input activado  */
.inputsProducto select:enabled {
    background-color: white;
    border-color: black;
}

/* Estilos necesarios para que el select de categoría
 se asemeje a los estilos de un input   */
.inputsProducto select,
.divUrlProducto {
    
    border-width: 1.6px;
    border-style: inset;

}

/* Se oculta el label e input titulo ya que estos aparecerán cuando se de en la opción de 
modificar o crear desapareciendo el select de productos disponibles*/
/* botones que no se muestran desde el inicio de sesión de un administrador */
.modificarProducto label:nth-of-type(2),
.tituloProducto,
#botonCancelarEdicionProducto {
    display: none;
}


/* Estilos para la sección de imágenes preliminares de platos y suscripciones */
.suscripciones,
.platos {
    display: grid;
    grid-template-columns: 1fr;
}

.suscripciones a,
.platos a {
    color: #70349E;
    grid-column: 1/3;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.suscripciones a:hover,
.platos a:hover {
    cursor: pointer;
}

.cardPlato, .cardSuscripcion {
    margin: auto;
    width: 212px;
    height: 235px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.cardSuscripcion{
    background-image: url("../img/cardSuscripcion.png");
}

.cardPlato{
    background-image: url("../img/cardProducto.png");
}

.difuminado{
    border-radius: 40px;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
    display: flex;
}

.cardPlato:hover, .cardSuscripcion:hover{

    .botonCard{
        opacity: 1;
        visibility: visible;
        transition: opacity 1.5s ease;
    }

    .difuminado{
        transition: 1.5s ease;
        background-color: rgba(10, 10, 10, 0.349);
        backdrop-filter: blur(4px);
        border-radius: 20px;
    }
}


/* Para eliminar botones que trae por defecto un input numérico navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Cambio de distribución para imagen en celular */
@media (width < 500px) {

    .divUsuarioRegistrado {
        padding: 0 3%;
    }

    .datosPerfil,
    .suscripcionYPLatos,
    .inputsProducto {
        grid-template-columns: 1fr;
    }

    .datosPerfil,
    .inputsProducto {
        gap: 5px;
    }

    .datosPerfil label,
    .inputsProducto label,
    .inputsProducto>p {
        padding-top: 10px;
        padding-left: 5px;
    }

    .inputsProducto p:nth-of-type(1) {
        margin: 0px;
    }

    .divUrlProducto label {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .datosPerfil input,
    .inputsProducto input,
    .inputsProducto select,
    .divUrlProducto {
        margin: 0px;
    }

    .vistaIdYBotones {
        margin-right: 20px;
    }

    #divBotonCargar {
        margin-top: 15px;
        grid-column: span 1;
    }

    .suscripcionYPLatos {
        gap: 20px;
    }

    .cardPlato, .cardSuscripcion {
        /* margin: auto; */
        width: 290px;
        height: 320px;
    }

}