
*{
  box-sizing: border-box;
}
/* Para darle espacio al navbar que esta como fixed-top */
main{
  padding-top: 85px;
}

footer, nav{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

nav{
  width: 100vw;
  background-color: rgba(170, 135, 193, 0.98)!important;
}

footer {
    min-height: 10vh;
}


/* Aumenta el tamaño del elemento al pasar el mouse */
.nav-link:hover {
    transform: scale(1.4);
    transform: translateX(-5px);
  }
#icon, #icon:visited{
    color: black;
}
.navbar a:hover, #icon:hover {
  color: blanchedalmond;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin-right: 20px;
}

#carrito{
  line-height: 0px;
  font-size: 24px;
  /* -webkit-text-stroke: 1px; */
  position: relative;
} 


#cantidadCarritoIcono{
  display: none;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: -1px;
  top: -5px;
  width: 20px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 50%;
  background-color: rgba(217, 2, 2, 0.719);
  color: white;
}

.navbar a:hover p{
  color: black;
}
  
 