* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFEF4;
}

main {
    flex: 1;
    position: relative;
}

main, .bodyLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyLogin{
    padding: 10px 0;
}

/* contiene toda la estructura */
.containerLogin {
    position: relative;
    display: flex;
    width: 800px;
    height: 550px;
    align-items: center;
}

/* este contenedor funciona como estructura 
de los títulos y botones de ingreso y registro */
.zonagris {
    width: 100%;
    height: 420px;
    display: flex;
    background-color: #e8ddee;
    text-align: center;
    border-radius: 15px;
}

.zonagris h2 {
    padding-bottom: 12px;
    font-size: 25px;
}

.zonagris button {
    width: 200px;
    height: 40px;
    font-weight: bold;
    background-color: rgba(105, 91, 199, 0.534);
    border-radius: 15px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: white;
    }
}

.zonagris .ingreso,
.zonagris .registro {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* se le da propiedad de estar sobrepuesto a todo
el tamaño del container este sección correrá de un
lado a otro suave */
.contieneFormularios {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
    background: rgb(248, 247, 245);
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.375);
    transition: 0.5s ease-in-out;
}

/* posición de los títulos e input y botón */
.contieneFormularios form {
    width: 100%;
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* tamaño de espaciado entre elementos */
}

.contieneFormularios .formularioIngreso,
.contieneFormularios .formularioRegistro {
    position: absolute;
    width: 100%;
    padding: 50px;
    transition: 0.5s ease-in-out;
    /* transition-delay: 0.2s; */
    align-self: center;

    input {
        height: 35px;
        padding-left: 20px;
        border: 1px solid rgba(105, 91, 199, 0.534);
        border-radius: 10px;
    }
}

/* se le otorga al formulario ingreso una posición a la izq */
.contieneFormularios .formularioIngreso {
    left: 0;
}

/* se le otorga al formulario registro una posición a la der*/
.contieneFormularios .formularioRegistro {
    left: 100%; 
}

/* se le da el efecto de deslizarse con javascript
 cuando se oprime el botón de registro o ingreso */
 .contieneFormularios.active {
    left: 50%;
}

/* cuando se realize click el formulario de ingreso sale hacia la izq */
.contieneFormularios.active .formularioIngreso {
    left: -100%;
}

/* cuando se realize click el formulario de registro sale hacia la der */
.contieneFormularios.active .formularioRegistro {
    left: 0;
}

.divContrasena {
    position: relative;
    padding: 0px;
}

.divContrasena input {
    width: 100%;
}

.divContrasena i {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #76767684;
    top: 4px;
    right: 10px;

    &:hover{
        color: #70349E;
    }
}

.terminos {
    display: flex;
    gap: 20px;
    padding-left: 40px;
    color: #2d09fa;
    transition: 0.25s;
}

.terminos label {
    text-decoration: underline;
    &:hover {
        scale: 106%;
    }
}

.terminos input {
    width: 20px;
}

/* Estilos para los botones  */
#realizarIngreso,
#realizarRegistro {
    padding-left: 0px;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #70349E;
    background-color: #70349e78;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

#realizarIngreso:hover,
#realizarRegistro:hover {
    background-color: rgba(242, 240, 249, 0.534);
}

/* Estilo del nombre que aparece en el modal después de hacer un registro */
#nombreUsuarioRegistrado {
    font-weight: bold;
    font-size: 20px;
}

/* cuando la pantalla es pequeña  */
@media (max-width: 900px) {

    :root{
        --alturaContainerLogin : 700px;
        --alturaFormularios : 560px;
        --alturaContenedoresZonaGris: calc(var(--alturaContainerLogin) - var(--alturaFormularios));
    }

    .containerLogin {
        width: 450px;
        height: var(--alturaContainerLogin);
    }

    .zonagris {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .zonagris .ingreso,
    .zonagris .registro {
        width: 100%;
        height: var(--alturaContenedoresZonaGris);
    }

    .contieneFormularios,
    .contieneFormularios .formularioIngreso,
    .contieneFormularios .formularioRegistro {
        width: 100%;
        height: var(--alturaFormularios);
    }

    /* se le otorga al formulario ingreso una posición a la izq arriba */
    .contieneFormularios .formularioIngreso {
        left: 0;
        top: 0;
    }

    /* se le otorga al formulario registro una posición a la izquierda abajo*/
    .contieneFormularios .formularioRegistro {
        left: 0;
        top: 100%; 
    }

    /* se desplaza de arriba a abajo 120px */
    .contieneFormularios.active {
        left: 0;
        top: var(--alturaContenedoresZonaGris);
    }

    /* cuando se realize click el formulario de ingreso sale hacia arriba */
    .contieneFormularios.active .formularioIngreso {
        left: 0;
        top: -100%;
    }

    /* cuando se realize click el formulario de registro sale hacia arriba */
    .contieneFormularios.active .formularioRegistro {
        left: 0;
        top: 0;
    }

}


@media (width < 500px) {
    
    :root{
        --alturaContainerLogin : 630px;
        --alturaFormularios : 500px;
        --alturaContenedoresZonaGris: calc(var(--alturaContainerLogin) - var(--alturaFormularios));
    }

    .bodyLogin {
        width: 100%;
    }

    .containerLogin {
        width: 95%;
    }

    .contieneFormularios .formularioIngreso,
    .contieneFormularios .formularioRegistro {
        padding: 20px 7%;
    }

    .contieneFormularios form{
        gap: 15px;
    }
}

@media (min-width: 1024px) {
    .DibujoLogin {
        display: block;
        /* Asegura que se muestre en pantallas grandes */
    }
}

@media (max-width: 1023px) {
    .DibujoLogin {
        display: none;
        /* Oculta la imagen en pantallas pequeñas */
    }
}