/* Paleta de colores
#FFFEF4
#D6CB4F
#71B344
#869639
#6A5BC7
#70349E
*/

main {
    background-color: rgba(112, 179, 68, 0.2);
    padding: 10px 15%;
    background-image: url('../img/FONDOCONTACTANOS.jpg');
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center;/* Centra la imagen */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    display: grid;
    place-items: center;
}

/* Para CEL (800px) */
@media (max-width: 450px) {
    main {
        background-image: url('../img/FONDOCELULAR.jpg');
        /* Agregar la extensión correcta, como .jpg */
    }
}

/* Asignación de poppins regular 400 a párrafos */
* {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}


button {
    font-weight: bold;
}


 /* Titulo principal */
.titulo h1 {
    margin-top: 20px;  
    color: #70349E;
    font-size: 45px;
    text-align: center;
}


/* Estilos para el primer div el cual contiene un mensaje y el formulario */
.divContenidoFormulario, .informacion, .parrafoIntermedio {
    width: 800px;
    padding: 30px 10px;
}

.parrafoIntermedio{
    padding-bottom: 0px;
}

.divContenidoFormulario, .informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* EStilos para el div que contiene el mensaje que se le da al usuario */
.divContenidoFormulario .texto{
    text-align: center;
    padding: 20px 20px;
}

.textoTitulo{
    color: #70349E;
}

.textoTituloOculto{
    display: none;
    font-weight: 500;
    font-size: 33px;
    color: #70349E;
}

.textoParrafo{
    margin-top: 30px;
    padding: 0px 20px;
}

.textoParrafo h5{
    line-height: 30px; /* PAra controlar el espacio entre lineas verticalmente */
}


/* Estilos para hacer responsive el formulario de contáctenos */
/*y también para aplicar estilos a el contenedor de la información de contacto  */

.divContenidoFormulario .contenedorBoton {
    align-items: center;
    text-align: center;
    grid-column: span 2;
}

.contenedorBoton .boton {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #70349E;
    background-color: rgba(105, 91, 199, 0.534);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4)
}

.contenedorBoton .boton:hover{
    background-color: white;
}

/*Espacio interno de distribución de las columnas de la parte izquierda del formulario  */
.formulario .inputPequeños {
    margin-left: 0%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.formulario .inputContenido {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

/* Estilos para las cajas de entrada de texto */
.formulario input,
textarea {
    width: 100%;
}

.formulario input {
    padding-left: 5px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #70349E;
}

/* tamaño de alto de la caja de texto de contenido del mensaje */
.inputContenido .etiqueta{
    display: none;
}

.inputContenido{
    margin-top: 20px;
}

textarea {
    padding: 0 7px;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #70349E;
}



/* Estilos para la sección de ubicación y datos de la empresa
    El estilo principal del contenedor información es el mismo que el de formulario
*/

.informacion {
    width: 800px;
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.informacion .datos {
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #70349E;
}

/* párrafos dentro de información de contacto */
.ajusteParrafo {
    margin: 0%;
}

/* Estilo para el div que contiene el mapa */
.ubicacion {
    border-radius: 30px;
    display: grid;
    place-items: center;
}

.mapa {
    height: 100%;
    width: 128%;
    border-radius: 30px;
    border: 1px solid #70349E;
}


/* Cuando el tamaño de la pantalla sea menor a 1100px cambia la vista a una columna y el botón se asigna un espacio de ocupación de una columna */
@media(width < 830px) {
    .textoTitulo{
       display: none;
    }
    
    .textoTituloOculto{
        display: inline-block;
    }

    .divContenidoFormulario .texto{
        text-align: left;
        padding: 0px;
        
    }
    .textoParrafo{
        padding: 0px;
        margin-top: 0px;
    }

    .divContenidoFormulario, .informacion, .parrafoIntermedio {
        width: 500px;
        grid-template-columns: 1fr;
    }

    .divContenidoFormulario .contenedorBoton {
        grid-column: span 1;
    }

    .formulario .etiqueta {
        padding: 3% 0%;
    }

    .formulario .inputPequeños {
        gap: 10px;
        grid-template-columns: 1fr 4fr;
    }

    .inputContenido .etiqueta{
        display: block;
        padding: 0px;
    }

    .informacion .ubicacion {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .informacion {
        grid-template-rows: 1fr 1fr;
    }
    .mapa{
        width: 159%;
    }
}

/* Cuando la pantalla sea menor a 500px la distribución interna de la parte izquierda y derecha pasa a ser de a una columna */
@media(width < 600px) {
  
    .divContenidoFormulario, .informacion, .parrafoIntermedio {
        width: auto;
        grid-template-columns: 1fr;
    }

    .formulario .inputPequeños {
        gap: 0px;
        grid-template-columns: 1fr;
    }

    .formulario .etiqueta {
        padding: 8px 0px 0px;
        text-align: left;
    }

    .formulario .inputContenido {
        margin: 0%;
        padding: 0%;
    }

    main {
        padding: 10px 5%;
    }

    .parrafo{
        padding: 20px;
    }

    .mapa{
        width: 148%;
    }
}

/* Estilos para la ventana modal */
.modal1{
    display: none; /* Desaparece el contenedor */
    position: fixed; /*Mantiene la pantalla fija asi se haga scroll  */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
}


.modal1-contenedor{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    max-width: 400px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.cerrar{
    color: rgb(231, 99, 99);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: right; /* lo obliga a posicionarse a la derecha  */
    position: absolute;/* elimina su posición normal en un documento */
    top: 10px; 
    right: 15px;
    font-size: 25px; 
    cursor: pointer;
    box-shadow: 3px 8px rgba(0,0,0,0.25);
}

.cerrar:hover{
    color: rgb(174, 59, 59);
    cursor: pointer;
}

.modal1-contenedor h5{
    padding: 5px;
    text-align: center;
}

.modal1-contenedor .botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 20%;
}

#botonSi, #botonNo{
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 2px solid #70349E;
    border-radius: 6px;
    display: block;
    margin: 10px auto 0 ;
    width: 50px; 
    text-align: center;
    box-shadow: 3px 3px rgba(0,0,0,0.25);
    transition: background-color .3s;
}

#botonSi:hover, #botonNo:hover{
    background-color: rgba(105, 91, 199, 0.534);
}


/* Paleta de colores
#FFFEF4
#D6CB4F
#71B344
#869639
#6A5BC7
#70349E
*/


