:root {
  /* Esta variable se modifica en el  javascript script.js*/
  --duracionAnimacionTitulos: 0s;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffef4;
}

/* letra para todo el documento */
main {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

/* Inicio estilos del banner principal */
.seccionEnlaces {
  width: 100%;
  margin-bottom: -18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.fondoEnlaces {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  
  img {
    width: 100%;
    height: 100%;
  }
}

.seccionEnlaces p {
  font-size: calc(0.6rem + 1.5vw);
}

.seccionEnlaces span {
  color: #70349e;
  font-weight: 600;
  font-size: 1em;
}

/* ocupa arriba a la izquierda tamaño fijo */
.enlaceMenu {
  grid-column: 1/2;
  grid-row: 1/2;
}


/* ocupa abajo a la derecha */
.enlaceSuscripcion {
  grid-column: 2/3;
  grid-row: 2/3;
}

.enlaceMenu,
.enlaceSuscripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 10% 10%;
  text-align: center;
}

.btnEnlace {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: calc(0.6rem + 1.2vw);
  margin: 2% auto;
  padding: 4px 10%;
  border-radius: 50px;
  border: 2px solid #70349e;
  background-color: rgba(105, 91, 199, 0.534);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);

  &:hover{
    color: #70349e;
    background-color: white;
  }
}


/* estilos de los títulos intermedios */
.tituloIntermedio {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img_comidas/CARRUSEL-INDEX/Banner_titulos.png") repeat-y
    center center;
  background-size: 100%;
  background-attachment: fixed;
  color: white;

  h2{
    /* width: fit-content; */
    margin: 0;
    background-color: #545454db;
    border-radius: 10px;
  }
}

/* estilos carousel de platos y títulos en la imagen de menu  */
.favoritos {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  padding-left: 10%;
  padding-right: 12%;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;

  background: url("../img_comidas/CARRUSEL-INDEX/fondoC.jpeg") no-repeat top left;
  background-size: cover;
}

@media(max-width: 860px){
  .favoritos{
    background: none;
  }
}

.imgPlatosYBoton {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenedor-slider {
  position: relative;
  width: 450px;
  height: 450px;
}

/* dentro de su contenedor las imágenes se ubican centradas y con un tamaño */
.plato {
  position: absolute;
  place-content: center;
  text-align: center;
  width: 100%;
  height: 100%;

  /* las imágenes se ajustan a su contenedor y tiempo en transición */
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease;
  }

  /* inicialmente el plato 1 es el que se muestra */
  &:nth-of-type(1) img {
    visibility: visible;
    opacity: 1;
  }
}

.btnMenu {
  width: 100%;
  text-align: center;
}

.menu {
  width: auto;
  display: grid;
  align-content: center;
  justify-content: center;
}
/* la imagen que ira debajo de la descripción del menu posición por grid*/
.imagenMenu {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  /* se le da un tamaño a la imagen */
  img {
    width: 390px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
  }
}

.tituloCarta {
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  text-align: center;

  p {
    margin: 0;
  }

  p:nth-child(1) {
    font-size: 2.5rem;
  }
  p:nth-child(2) {
    font-size: 1.6rem;
  }
}

/* Este titulo aparece en pantallas pequeñas */
#tituloPlatoCelular {
  display: none;
  padding-top: 30px;
}

/* Esta clase es del contenedor de la lista del menu de favoritos
la cual desaparece en pantallas pequeñas */
.itemFavoritos {
  margin: auto;
  margin-left: 15%;
  color: white;
  grid-column: 1/2;
  grid-row: 2/3;

  h5 {
    font-weight: bold;
  }
}

/* Estilo agregado en javascript para darle dinamismo al menu */
.tituloResaltado {
  animation-name: resaltarParrafo;

  /* La duración de la animación se asigna desde javascript con el fin
   de usar la misma variable para el ciclo de las imágenes de los platos*/
  animation-duration: var(--duracionAnimacionTitulos); 
  animation-timing-function: ease-in-out;
}

@keyframes resaltarParrafo {
    25%, 75% {
    font-size: 20px;
    color: #70349e;
    text-decoration: underline;
  }
}

/* Estilos cards de  Recomendaciones*/
.slide-container {
  max-width: 1200px;
  width: 100%;
}

.slide-content {
  margin-bottom: 40px;
  padding: 0 5%;
}

.card .estrellas img {
  width: 35px;
  margin-top: 25px;
}

.card {
  border-radius: 20px;
  background-color: rgba(112, 52, 158, 0.507);
  max-width: 320px;
  height: auto;
}

.textoCard {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.textoCard h2 {
  font-size: 24px;
}
.textoCard h4 {
  font-size: 20px;
}

.swiper-pagination-bullet {
  width: 16px; /* Aumenta el ancho de los botones */
  height: 16px; /* Aumenta la altura de los botones */
}
/* Opcional: Si quieres que los botones estén más destacados */
.swiper-pagination-bullet-active {
  background-color: #0c0c0c; /* Cambia el color de fondo del botón activo */
}

/* Estilos para la sección de ubicación y datos de la empresa
    El estilo principal del contenedor información es el mismo que el de formulario
*/
.informacion {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.informacion .datos {
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #70349e;
}

/* párrafos dentro de información de contacto */
.ajusteParrafo {
  margin: 0%;
}

/* Estilo para el div que contiene el mapa */
.ubicacion {
  border-radius: 30px;
}

.mapa {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #70349e;
}

/* media responsive sección favoritos para tablet*/
@media (max-width: 1050px) {
  .contenedor-slider {
    width: 350px;
    height: 350px;
  }
  .itemFavoritos {
    margin-left: 10%;
  }
  .imagenMenu img {
    width: 360px;
    height: 480px;
  }
}

/* media responsive sección favoritos e información para celular y tablet */
@media (max-width: 760px) {
  .favoritos {
    position: relative;
    padding-left: 0%;
    padding-right: 10px;
    grid-template-columns: 1fr;
  }

  .imagenMenu img{
    width: 360px;
  }
  .tituloCarta{
    padding-top: 10px;
  }

  #tituloPlatoCelular {
    display: block;
  }

  .itemFavoritos {
    display: none;
  }

  .imgPlatosYBoton {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .contenedor-slider {
    width: 275px;
    height: 275px;
  }

  .plato img {
    width: 80%;
    height: 80%;
  }
  .btnMenu {
    height: 50px;

    a {
      border-radius: 50px;
      background-color: #70349e;
      color: white;
    }
  }

  .informacion {
    width: 90%;
    padding: 0 0 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    justify-content: center;
  }
}

@media (width < 500px) {
  .enlaceMenu {
    padding-bottom: 25%;
  }

  .enlaceSuscripcion {
    padding-top: 25%;
  }

}

@media(width < 370px){
  .imagenMenu img{
    width: 310px;
  }
  @keyframes resaltarParrafo {
    25%, 75% {
      font-size: 18px;
      color: #70349e;
     text-decoration: underline;
    }
  }
}
