/* Estilos para el main */
body {
    background-color: #fffef4;
}

main {
    background-color: #fffef4;
}

/* Estilos para el hero-content */
.hero-content {
    grid-column: 1 / -1;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fffef4;
}

.hero-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


/* Estilos para el subtitle, cinta que se desplaza de manera automatica */
.subtitle {
    grid-column: 1 / -1;
}

.cinta {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: #703493;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(217, 217, 87);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
}

.RightToLeft {
    animation: RightToLeft 8s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-20%);
    }
}

/* Fin de estilos para el subtitle, cinta que se desplaza de manera automatica */

.Suscripcion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
    overflow-wrap: break-word;
    background-color: #fffef4;
}

/* Ajuste para pantallas más grandes (computadoras) */
@media (min-width: 920px) {
    .Suscripcion {
        grid-template-columns: repeat(3, 1fr);
        /* Solo 2 columnas en pantallas grandes */
        max-width: 90%;
        background-color: #fffef4;

    }
}

.Objeto {
    background-color: #813ea3e2;
    border-radius: 20px;
    padding: 20px;
    height: 325px;
    width: 98%;
    max-width: 325px;
    position: relative;
    /* Necesario para posicionar el botón relativo al contenedor */
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.boton-circular {
    position: absolute;
    bottom: -5px;
    /* Ajusta según sea necesario */
    right: -4px;
    /* Ajusta según sea necesario */
    background-color: #d6cb4f;
    border: none;
    color: white;
    border-radius: 50%;
    width: 70px;
    /* Ajusta el tamaño del botón circular */
    height: 70px;
    font-size: 30px;
    /* Ajusta el tamaño del texto o ícono dentro del botón */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el texto dentro de la clase Suscripcion */
.Suscripcion {
    font-family: 'Poppins', sans-serif;
    background-color: #fffef4;

}

.Objeto strong {
    font-weight: 600;
}

.Texto-Objeto {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;


}

/* Lista  */
.objeto ul{
    list-style-type: disc;
    padding: 12px;
    margin: 10px 0;
}

.Texto-Objeto li{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.precio-color {
    color: yellow;
    /* Cambia el color del texto a amarillo */
    font-weight: bold;
    /* Opción: Añade negrita para resaltar */
}

.imagen-contenedor img {
    max-width: 100%;
    /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    display: block;
    /* Evita el espacio extra debajo de la imagen */


}


.contenedorPago {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 13, 13, 0.755);
    display: none;
    transition: 1s ease;
    font-family: 'Poppins', sans-serif;
}

.modalPago {
    width: 60%;
    height: auto;
    background-color: rgba(27, 27, 27, 0.703);
    border: 2px ridge blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin: auto;
}

.tarjetaCredito {
    background-image: linear-gradient(90deg, rgb(29, 29, 150), rgb(37, 37, 37));
    width: 380px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(22, 22, 22);
    color: white;
    position: relative;
    margin-bottom: 20px;
}

.frontal{
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
}

.atrass {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
}

.atrass #lineaNegra{
    width: 100%;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 30px;
}

.atrass #lineaBlanca{
    width: 70%;
    height: 25px;
    background-color: aliceblue;
    position: absolute;
    top: 70px;
    left: 10px;
    color: black;
    text-align: end;
    padding-right: 20px;
    align-content: center;
}

.atrass #textoCard {
    font-size: 8px;
    width: 60%;
    position: absolute;
    bottom: 60px;
    left: 10px;
}

.atrass #barras {
    width: 25%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}



#bank {
    position: absolute;
    top: 30px;
    right: 50px;
}

.tarjetaCredito #brand {
    position: absolute;
    right: 30px;
    width: 50px;
    bottom: 20px;
}

.tarjetaCredito #chip{
    position: absolute;
    left: 20px;
    top: 50px;
    width: 30px;
}

.tarjetaCredito #number{
    position: absolute;
    bottom: 70px;
    left: 30px;
}

.tarjetaCredito #nameCreditCard{
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.tarjetaCredito #fechaV {
    position: absolute;
    bottom: 70px;
    right: 40px;
}

.formularioTarjeta {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.fechaCVV .expira #expiraDate,
.fechaCVV .cvv #inputCVV,
.formularioTarjeta #numberCT,
.formularioTarjeta #nombreCT {
    height: 25px;
    border-radius: 8px;
    border: none;
    padding-left: 5px;
}

.fechaCVV {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fechaCVV .expira,
.fechaCVV .cvv {
display: flex;
flex-direction: column;
gap: 10px;
}

#realizarPago {
    width: 40%;
    background-color: rgb(73, 54, 141);
    height: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    color: wheat;
    align-self: center;
}

#realizarPago:hover {
    box-shadow: none;
    border: 1px ridge white;
}