/* Elimina márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

body{
  position: relative;
  background-color: #FFFEF4;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 50px;
}

/* Estilos para las imágenes de fondo */
.imagenFondoManipulable{
  width: 14vw;
  position: absolute;
  z-index: -1;

  img{
      width: 100%;
      height: 100%;
  };
}

.imagenSuperiorDerecha{
  top: 90px;
  right: 0;
}
.imagenInferiorIzquierda{
  bottom: 80px;
  left: 0;
}

@media (width < 992px){
  .imagenInferiorIzquierda{
    bottom: 120px;
  }
}

@media (width < 576px){
  .imagenInferiorIzquierda{
    bottom: 140px;
  }
}

/* Estilos del contenedor del titulo y la presentación inicial */
.titulo {
  max-width: 600px;
  margin: auto;
  padding: 20px;

  h2 {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    color: #70349E;
    text-shadow: 2px 2px 4px #70349E;
  }
  
  h2:last-child {
    text-align: right;
  }
}

.presentacionInicial{
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.imgNosotros {
  text-align: center;

  img {
    width: 400px;
    mask-image: linear-gradient(white 75%, transparent);
  }
}

.textoNosotros {
  align-content: center;
  text-align: justify;

  h5 {
    line-height: 26px;
  }
}

#softSinfoni {
  font-size: 25px;
  color: #70349E;
  font-weight: bold;
}

/* Estilos para los acordeones */
.accordion-item{
  height: 100%;
}

.accordion-body p {
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
}

/* Oculta la flecha y desactiva el botón en pantallas grandes */
.accordion-button {
  pointer-events: none;
  &::after {
    display: none;
  }
}

.collapsed{
  color: #70349E;
  background-color: white; 
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #70349E;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/image.png");
}

.accordion-button::after {
  background-image: url("../img/flechaAbajo.png");
  color: #70349E;
}



/* Inicio TARJETAS PERFILES */

.contenedorPrincipal {
  display: block;
}

.contenedorSecundario {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: none;
}


.contenedorPerfiles .fl {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: filter 0.3s ease;
  transition: 1s;
}

.contenedorPerfiles .fl:hover {
  filter: invert();
  transform: rotate(360deg);
}


.contenedorPerfiles .fotop {
  border-radius: 50%;
  width: 150px;
  height: 160px;
  box-shadow: 0px 0px 6px white;
  margin-bottom: 10px;
}

.contenedorPerfiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0 50px;
  justify-content: center;
  color: white;
}

.contenedorPerfiles .carta {
  width: 260px;
  height: 350px;
  position: relative;
}

.contenedorSecundario .carta {
  width: 100%;
  height: auto;
  position: relative;
  color: white;
  background-color: #70349E;
  border-radius: 15px;
  align-content: center;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

.contenedorSecundario li {
  list-style: none;
}

.contenedorSecundario .carta:hover {
  background-color: rgb(58, 57, 57);
  border-radius: 15px;
}

.contenedorSecundario .fotop {
  border-radius: 50%;
  width: 140px;
  height: 160px;
  box-shadow: 0px 0px 6px white;
  margin-bottom: 10px;
}

.contenedorSecundario h4,
h5 {
  font-size: 18px;
}

.contenedorSecundario .redes {
  margin: 15px 0px 15px 0px;
}

.contenedorSecundario .visible p {
  font-size: 16px;
  text-align: justify;
  padding: 0 12px 0 12px;
}

.contenedorSecundario .redes img {
  width: 30px;
  height: 30px;
}

.slider-wrapper {
  overflow: hidden;
  margin: 0 30px 50px;
}

.contenedorPrincipal .carta-contenedor {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70349E;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.contenedorPrincipal .visible {
  padding-top: 30px;
}

.contenedorPrincipal .visible,
.oculto {
  grid-area: 1 / 1;
  /* Coloca ambas en la misma área */
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  /* Comienza visible */
}

.oculto {
  padding: 15px 10px 0 10px;
  opacity: 0;
  /* Oculta la cara trasera al inicio */
  pointer-events: none;
  /* Desactiva eventos de clic */
  color: white;
  background-color: rgb(58, 57, 57);
  border-radius: 10px;
}

.contenedorPrincipal .carta-contenedor.show-oculto .visible {
  opacity: 0;
  /* Desvanece la cara visible */
  pointer-events: none;
  /* Desactiva eventos de clic */
}

.contenedorPrincipal .carta-contenedor.show-oculto .oculto {
  opacity: 1;
  /* Muestra la cara oculta */
  pointer-events: auto;
  /* Activa eventos de clic */
}


.redes img {
  width: 40px;
  height: 40px;
  transition: filter 0.3s ease;
}

.redes img:hover {
  filter: invert();
}

.redes {
  margin-top: 20px;
  word-spacing: 30px;
}

/* TARJETAS PERFILES HASTA AQUÍ */

@media (width < 1200px) {
  .primero {
    grid-template-columns: repeat(2, 1fr);
  }

  .primero article:nth-child(3),
  .corregir {
    grid-column: 1 /3;
  }
}

@media (width < 800px) {

  .primero,
  .segundo {
    grid-template-columns: 1fr;
  }

  .primero article:nth-child(3),
  .corregir {
    grid-column: 1 /2;
  }

  .cardss {
    margin-bottom: 60px;
  }

  #botonPersonalizado {
    display: block;
  }
}

@media(width < 992px){
  .presentacionInicial{
    flex-direction: column;
    gap: 20px;
  }
  main {
    padding: 6%;
  }

  /* Muestra la flecha y habilita el botón en pantallas pequeñas */
  .accordion-button {
    pointer-events: auto;
    &::after {
      display: block;
    }
  }
}

@media (width < 500px) {

  .titulo h2{
    font-size: 45px;
  }

  .imgNosotros img {
      width: 90%;
  }

  .contenedorPrincipal {
    display: none;
  }

  .contenedorSecundario {
    display: block;
  }

}