* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    justify-content: center;

}

/* Asignación de roboto bold 700 a títulos */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}
/* .imgFondoBanner{ */
    /* para pruebas */
/* } */
main{
    background-color: #FFFEF4;
}
.contenedorimgestatica img{
    object-fit: cover;
    width: 600px;
}

.carruselbanners img{
    width: 100%;
    height: 90vh;
    object-fit: contain;
}

.contenidoMenuBanner{
    width: 95vw;
    height: 80vh;
    display: grid;
    grid-template-columns:  1fr 0.5fr ;
    gap: 20px;
}
.contenidoMenu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: auto;
    gap: 20px

}

.tamañoIcono{
   width: 50px;
   border-radius: 50%;
}

.contenedorIcono{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorIcono2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #70349E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCentrado{
    text-align: center;
    padding-left: 1.5%;
}

.fondo1{
    display: grid;
    grid-template-rows: 1fr 20px;


    
}

.contenedorSection{
    background-image: url("../img_comidas/CARRUSEL-INDEX/Banner_titulos.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    place-content: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    color: white;
}
.fondo2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 80vh;
    
}

.botonMenu{
    width: 11vw;
    height: 5vh;
    color: white;
    font-size: 15px;
    background-color: #70349E;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
}

.contenedorimgestatica{
    display: flex;
    align-items: center;
    justify-content: center;

}

.tituloSection{
    text-align: center;
    color: white;
}

.sectionMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1%;
}

.sectionMenu div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    width: 32.9vw;
    height: 35vh;
}

.sectionMenu h2{
    font-size: 3vw;
    color: white;
}
.sectionMenu img{
    width: 28vw;
    height: 28vh;
    object-fit: contain;
}

.sectionFondo{
    background-color: rgba(112, 52, 158, 0.790);
}

.sectionFondo2{
    background-color: rgba(0, 0, 0, 0.100);
}